<html>
    <head>
        <title>Compare Timetables</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body style="background-color:#74b8cc";>
    
    <style type="text/css">

        #title{
            display:grid;
            align-items:center;
            justify-content:center;
        }
    
        #table{
            margin-top: 2%;
            margin-left: 2%;
            margin-right: 2%;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            text-align: center;
        }


        .info{
            margin-left: 2%;
            font-family: 'Raleway', sans-serif;
            font-size: 130%;  
        }

        #daysrow{
            height: 25px;
        }

        #daysrow:hover {background-color: #e1d9fafb;}


    </style>

    <div class="jumbotron jumbotron-fluid" id="title">
        <div class="container" >    
            <p class="display-4" ><span>Free Slot Finder</span></p>
        </div>
    </div>

    <h5 class="info">
        <strong>
            Comparing timetables of
            <% for(var i=0; i < namearrlen-1; i++) { %>  
                <%= namearr[i] %>,
           <% } %> 
           and <%= namearr[i] %>
        </strong>
    </h5> 


<table id="table" border="1">
            
    <!-- The Row Number 0 -->
    <tr style="height: 45px;">
        <th style="width: 100px;">Days/Time</th>
        <th>0800-0830</th>
        <th>0830-0900</th>
        <th>0900-0930</th>
        <th>0930-1000</th>
        <th>1000-1030</th>
        <th>1030-1100</th>
        <th>1100-1130</th>
        <th>1130-1200</th>
        <th>1200-1230</th>
        <th>1230-1300</th>
        <th>1400-1430</th>
        <th>1430-1500</th>
        <th>1500-1530</th>
        <th>1530-1600</th>
        <th>1600-1630</th>
        <th>1630-1700</th>
        <th>1700-1730</th>
        <th>1730-1800</th>
        <th>1800-1830</th>
        <th>1830-1900</th>
        <th>1900-1930</th>
        <th>1930-2000</th>
        
    </tr>
    <!-- End Row Number 0 -->
    
    <tr id="daysrow">
            <td><strong>Monday</strong></td>

            <% for(var i=0; i < 22; i++) { %>  
                     <td><%= Monday[i] %></td>
                <% } %>       
    </tr>
    
    <tr id="daysrow">
            <td><strong>Tuesday</strong></td>

            <% for(var i=0; i < 22; i++) { %>  
                <td><%= Tuesday[i] %></td>
           <% } %>      
    </tr>
    
    <tr id="daysrow">
            <td><strong>Wednesday</strong></td>

            <% for(var i=0; i < 22; i++) { %>  
                <td><%= Wednesday[i] %></td>
           <% } %>       
    </tr>
    
    <tr id="daysrow">
            <td><strong>Thursday</strong></td>

            <% for(var i=0; i < 22; i++) { %>  
                <td><%= Thursday[i] %></td>
           <% } %>    
    </tr>
    
    <tr id="daysrow">
            <td><strong>Friday</strong></td>

            <% for(var i=0; i < 22; i++) { %>  
                <td><%= Friday[i] %></td>
           <% } %>        
    </tr>
    
</table>

<br>
<table id="table" border="1">
            
    <!-- The Row Number 0 -->
    <tr style="height: 45px;">
        <th style="width: 100px;">Days/Time</th>
        <th>0800-0830</th>
        <th>0830-0900</th>
        <th>0900-0930</th>
        <th>0930-1000</th>
        <th>1000-1030</th>
        <th>1030-1100</th>
        <th>1100-1130</th>
        <th>1130-1200</th>
        <th>1200-1230</th>
        <th>1230-1300</th>
        
    </tr>
    <!-- End Row Number 0 -->
    
    <tr id="daysrow">
            <td><strong>Monday</strong></td>

            <% for(var i=0; i < 10; i++) { %>  
                     <td><%= Monday[i] %></td>
                <% } %>       
    </tr>
    
    <tr id="daysrow">
            <td><strong>Tuesday</strong></td>

            <% for(var i=0; i < 10; i++) { %>  
                <td><%= Tuesday[i] %></td>
           <% } %>      
    </tr>
    
    <tr id="daysrow">
            <td><strong>Wednesday</strong></td>

            <% for(var i=0; i < 10; i++) { %>  
                <td><%= Wednesday[i] %></td>
           <% } %>       
    </tr>
    
    <tr id="daysrow">
            <td><strong>Thursday</strong></td>

            <% for(var i=0; i < 10; i++) { %>  
                <td><%= Thursday[i] %></td>
           <% } %>    
    </tr>
    
    <tr id="daysrow">
            <td><strong>Friday</strong></td>

            <% for(var i=0; i < 10; i++) { %>  
                <td><%= Friday[i] %></td>
           <% } %>        
    </tr>
    
</table>

<br>

<table id="table" border="1">
            
    <!-- The Row Number 0 -->
    <tr style="height: 45px;">
        <th style="width: 100px;">Days/Time</th>
        <th>1400-1430</th>
        <th>1430-1500</th>
        <th>1500-1530</th>
        <th>1530-1600</th>
        <th>1600-1630</th>
        <th>1630-1700</th>
        <th>1700-1730</th>
        <th>1730-1800</th>
        <th>1800-1830</th>
        <th>1830-1900</th>
        <th>1900-1930</th>
        <th>1930-2000</th>
        
    </tr>
    <!-- End Row Number 0 -->
    
    <tr id="daysrow">
            <td><strong>Monday</strong></td>

            <% for(var i=10; i < 22; i++) { %>  
                     <td><%= Monday[i] %></td>
                <% } %>       
    </tr>
    
    <tr id="daysrow">
            <td><strong>Tuesday</strong></td>

            <% for(var i=10; i < 22; i++) { %>  
                <td><%= Tuesday[i] %></td>
           <% } %>      
    </tr>
    
    <tr id="daysrow">
            <td><strong>Wednesday</strong></td>

            <% for(var i=10; i < 22; i++) { %>  
                <td><%= Wednesday[i] %></td>
           <% } %>       
    </tr>
    
    <tr id="daysrow">
            <td><strong>Thursday</strong></td>

            <% for(var i=10; i < 22; i++) { %>  
                <td><%= Thursday[i] %></td>
           <% } %>    
    </tr>
    
    <tr id="daysrow">
            <td><strong>Friday</strong></td>

            <% for(var i=10; i < 22; i++) { %>  
                <td><%= Friday[i] %></td>
           <% } %>        
    </tr>
    
</table>

<br><br>Free Slot Finder beta version


    </body>
</html>
